tamamdır şimdi yapacağımız uygulamaya geçelim.

- Projeyi yürütürken yaptığın değişiklikleri hangi dosyada yapacağımızı ve nerede yapacağımızı ayrıntılı şekilde göster.

- Uygulamanın genel mantığı şu şekilde olacak:

    - Bir tütün uygulaması sadece fiyatlarını görüntüleyebileceğimiz bir sistem olacak.

    - İçerisine ürün girişi yapılacak, fiyatı belirlenecek ve bir radio button ya da herhangi bir seçme işlemi ekleyeceksin ve bu da ürünün kiloluk satılıp satılmadığını kontrol etmek için kullanılacak.

    - Ürünleri kart şeklinde görüntüle ve fiyatları güzel bir şekilde yazsın. Tabi bunların üstüne gelince vs animasyonvari şeyler çıksın. Tabii ki bunu da styles kısmında yapmalısın.

    - Bir de ürünleri yukarıdaki arama çubuğundan da görüntüleyebilelim. Bu arama çubuğu da otomatik şekilde yazıya göre otomatik tamamlama yapabilsin.

    - Kiloluk satılabilen ürünler için bir algoritma geliştirmeni istiyorum. Bu algoritma ise şu şekilde olmalı: Ürünün kg fiyatı ne kadar ise ona göre kaç gram istenildiği zaman fiyatını gösteren ya da kaç lira verilirse ona göre kaç gram verileceğini gösteren basit bir algoritma yaz. Gram girilecekse tik işaretine göre yapmalı bu işi, yazacağı kısma sönük şekilde "gr" yazsın. Para girilecekse "TL" yazacak şekilde bir süsleme ekleyelim ui kısmında.

- Projede ui tasarımı yapılmayacağından hazır bir şekilde py formatına çevrilmiş ui kodlarını yazarsan çok güzel olur.

- Proje sorunsuz şekilde çalışsın. Yani hata kontrolü yap kendi kodlarına.

- Yukarıda anlattığım genel mantığı projede nereye yerleştirmem gerektiğini bana güzelce açıkla.

- Özellikle çok güzel bir tasarımı olmalı. Tasarımlar için de styles klasörünü ve içerisindeki css tarzı kodları nasıl dosyalara ayıracağımı göster ve bu projeye uyumlu css tarzı (setstylesheet) kodlarını yazmanı rica ediyorum.

- Bir de bu yeni eklenen verileri tutacak bir veritabanı kullanmanı istiyorum. json formatını kullanırsan bu benim için daha rahat olur. Bunun için de bana kodlarını yaz ve projede nereye eklemem gerektiğini detaylıca açıklar.



KOLAY GELSİNNN